.form__header {
    font-weight: bold;
    font-size: 22px;
    padding: 20px;
    border-bottom: solid 1px gray;
}

.section {
    margin: auto;
    margin-top: 20px;
    max-width: 800px;
    background-color: white;
}

.hidden {
    display: none;
}