.input__div {
    padding: 20px;
    display: flex;
}

.add-task {
    margin-left: 20px;
    background-color: teal;
    color: rgb(255, 255, 255);
    border: none;
    width: 100px;
    font-size: 16px;
    transition: 0.3s;
}

input {
    flex-grow: 2;
    height: 30px;
    font-size: 28px;
}

.add-task:hover {
    transform: scale(1.2);
    background-color: rgb(0, 163, 163);
}