ul {
    background-color: white;
    list-style-type: none;
    margin: 0px;
    padding: 20px;
}

.task__done {
    text-decoration: line-through;
}

.task__hidden {
    display: none;
}

li {
    border-bottom: 2px solid black;
}

.delete {
    background-color: red;
    color: white;
    margin-left: auto;
    transition: 0.3s;
    order: 4;
}

.delete:hover {
    background-color: crimson;
}

.task__button {
    width: 50px;
    height: 50px;
    font-size: 30px;
    color: white;
}

.done {
    background-color: green;
    margin-right: 10px;
    transition: 0.3s;
    order: -1;
}

.done:hover {
    background-color: #109010;
}

.list--item {
    color: black;
    font-size: 32px;
    background-color: white;
    padding: 6px;
    display: flex;
    align-items: center;
}

.task__hidden {
    display: none;
}