.main {
    margin: auto;
    max-width: 800px;
}

.function__buttons {
    background-color: white;
    margin-top: 20px;
    text-align: end;
    padding: 20px;
    border-bottom: solid 1px black;
}

ul {
    background-color: white;
    list-style-type: none;
    margin: 0px;
    padding: 20px;
}